*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: #f3f3f3bc;
}

header{
    background: #1c2833;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 10%;
}

header .emblem p{
    font-size: 25px;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
}

.container-tables{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.container-tables table{
    width: 1000px;
    border: solid 1px #aca7a754;
}


.container-navigation {
    display: flex;
    justify-content: center;
}

.input-search{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.input-search input{
    width: 400px;
    padding: 4px;
    padding-left: 12px;
    border-radius: 8px;
    border: solid 1px #59595987; 
    
}

.input-search button{
    background: #050740;
    border: none;
    border-radius: 8px;
    border: solid 1px #59595987;
    width: 50px;
    padding: 5px;
    
}

/*sesion form edit register*/
.container-form-e { 
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form-e .container-edit a{
    color: #fff;
    text-decoration: none;
}

.container-edit button{
    margin: 5px;
}

.container-edit{
    background: #f3f3f36b;
    padding: 80px;
    border: none;
    border-radius: 10px;
}
